@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
    <div class="text-center">
        <h1 class="display-4">Daryl's Movie Emporium</h1>
        <p>Your place to find all the hot movies in our rinky dink database!</p>
    </div>
    <div>
        <center>
            <table>
                <tr>
                    <td>
                        <img src="~/img/fire.gif" />
                    </td>
                    <td>
                        <img src="~/img/HotDeals2.gif" />
                    </td>
                    <td>
                        <img src="~/img/fire.gif" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>