@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Daryl's Movie Emporium</h1>
    <p>Your place to find all the hot movies in our rinky dink database!</a>.</p>
</div>
