@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
    <div class="text-center">
        <h1 class="display-4"><img src="~/img/coollogo_com-12440471.png" /></h1>
        <p>Your place to find all the hot movies in our rinky dink database!</p>
    </div>
    <div>
        <center>
            <table>
                <tr>
                    <td>
                        <img src="~/img/fire.gif" />
                    </td>
                    <td style="vertical-align: bottom">
                        <img src="~/img/HotDeals.gif" />
                    </td>
                    <td>
                        <img src="~/img/fire.gif" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>