@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body class="privacy">
    <table>
        <tr>
            <td>
                <p>We at Daryl's Movie Emporium take your privacy seriously.  After 10 minutes of inactivity your session clears and the shopping cart empties.<br />We don't even keep a purchase history for you, so your choices are your own.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <img src="../img/online-privacy-clipart.png" width="400" height="400" />
            </td>
        </tr>
    </table>
</body>
