@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We own your ass. You're the product, and we'll sell your info shamelessly, so we can rub baby oil on ourselves with hundred dollar bills.</p>
