@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body class="privacy">
    <p>We at Daryl's Movie Emporium take your privacy seriously.  After 10 minutes of inactivity your session clears and the shopping cart goes away.<br />We don't even keep a purchase history for you, so your choices are your own.</p>
</body>
